Repository rburketaylor/BahnVision: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-prettier, eslint, typescript-check, test-quality

.pre-commit-config.yaml:

repos:
  # === Security ===
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
        exclude: package-lock\.json$

  # === Formatting ===
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json, markdown]
        exclude: |
          (?x)^(
            package-lock\.json|
            frontend/package-lock\.json
          )$
  # === Python (Backend) ===
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
      - id: ruff-format
        files: ^backend/
      - id: ruff-check
        args: [--fix]
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        files: ^backend/app/
        args: [--ignore-missing-imports, --no-error-summary]
        additional_dependencies:
          - pydantic
          - fastapi

  # === TypeScript/React (Frontend) ===
  - repo: local
    hooks:
      - id: frontend-prettier
        name: frontend prettier
        entry: bash -c 'cd frontend && npx prettier --check .'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: typescript-check
        name: typescript type-check
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: test-quality
        name: test quality check
        entry: python scripts/check_test_quality.py
        language: system
        files: (backend/tests|frontend/src)/.*\.(py|test\.tsx?)$
        args: [backend/tests, frontend/src]
        pass_filenames: false

docs(plans): add docs claims audit and alignment plan
  docs/plans/2026-01-26-docs-claims-audit-and-alignment.md
Due: none

fix(cache): batch valkey MSET writes
  backend/app/core/config.py
  backend/app/services/cache.py
  backend/tests/services/test_cache_primitives.py
Due: test-quality

fix(gtfs): use dedicated connection per COPY op
  backend/app/services/gtfs_feed.py
  backend/tests/services/test_gtfs_feed.py
  backend/tests/services/test_gtfs_feed_importer.py
Due: test-quality

fix(gtfs-rt): retry deadlocks with rollback
  backend/app/services/gtfs_realtime_harvester.py
Due: none

feat(api): serve station stats for live mode
  backend/app/api/v1/endpoints/transit/stops.py
  backend/app/services/station_stats_service.py
  backend/tests/services/test_station_stats_cache.py
Due: test-quality

fix(heatmap): order UNION results reliably
  backend/app/services/heatmap_service.py
Due: none

fix(app): stop heatmap cache warmup on shutdown
  backend/app/jobs/heatmap_cache_warmup.py
  backend/app/main.py
Due: none

feat(frontend): improve heatmap station popup
  frontend/src/components/heatmap/MapLibreHeatmap.tsx
  frontend/src/components/heatmap/StationPopup.tsx
  frontend/src/index.css
  frontend/src/pages/HeatmapPage.tsx
  frontend/src/tests/unit/MapLibreHeatmap.test.tsx
Due: frontend-prettier, eslint, typescript-check, test-quality

chore(frontend): listen on ipv6 in nginx
  frontend/nginx.conf
Due: frontend-prettier

docs(plans): add live stats investigation notes
  docs/plans/fix-station-stats-live-mode.md
  docs/plans/investigate-realtime-stats-data.md
Due: none

test: add unit tests for shared UI components
  frontend/src/tests/unit/Badge.test.tsx
  frontend/src/tests/unit/Card.test.tsx
Due: frontend-prettier, eslint, typescript-check, test-quality

test: add unit tests for heatmap overlay components
  frontend/src/tests/unit/HeatmapLegend.test.tsx
  frontend/src/tests/unit/HeatmapOverlayPanel.test.tsx
Due: frontend-prettier, eslint, typescript-check, test-quality

test: add unit tests for StationPopup component
  frontend/src/tests/unit/StationPopup.test.tsx
Due: frontend-prettier, eslint, typescript-check, test-quality

test: add unit tests for marker styles utilities
  frontend/src/tests/unit/markerStyles.test.ts
Due: frontend-prettier, eslint, typescript-check, test-quality

test: improve MapLibreHeatmap and HeatmapControls tests
  frontend/src/tests/unit/HeatmapControls.test.tsx
  frontend/src/tests/unit/MapLibreHeatmap.test.tsx
Due: frontend-prettier, eslint, typescript-check, test-quality

feat(backend): add Valkey socket timeout configuration
  .secrets.baseline
  backend/app/api/v1/shared/rate_limit.py
  backend/app/core/config.py
Due: none

fix(backend): use jsonable_encoder for cache JSON serialization
  backend/app/services/cache.py
  backend/tests/services/test_cache_compatibility.py
Due: test-quality

feat(backend): optimize network averages and add include_network_averages parameter
  backend/app/api/v1/endpoints/transit/stops.py
  backend/app/services/station_stats_service.py
  backend/tests/api/v1/test_transit_station_stats.py
  backend/tests/services/test_station_stats_cache.py
  backend/tests/services/test_station_stats_service.py
  frontend/playwright.config.ts
  frontend/src/components/heatmap/MapLibreHeatmap.tsx
  frontend/src/hooks/useStationStats.ts
  frontend/src/pages/HeatmapPage.tsx
  frontend/src/tests/unit/MapLibreHeatmap.test.tsx
  frontend/src/tests/unit/useStationStats.test.tsx
  frontend/src/types/gtfs.ts
  frontend/tests/e2e/fixtures/mocks.ts
  frontend/tests/e2e/pages/heatmap.spec.ts
Due: frontend-prettier, eslint, typescript-check, test-quality

docs: map existing codebase
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
Due: none

docs: update public API references in readmes and tech spec
  README.md
  backend/README.md
  docs/tech-spec.md
  frontend/README.md
Due: frontend-prettier

docs: refresh frontend ops and UX flow examples
  frontend/docs/operations/observability.md
  frontend/docs/product/ux-flows.md
Due: frontend-prettier

docs: remove obsolete plans and update runtime defaults
  docs/plans/2026-01-21-ui-design-upgrade-implementation.md
  docs/plans/2026-01-21-ui-design-upgrade.md
  docs/plans/2026-01-26-docs-claims-audit-and-alignment.md
  docs/plans/fix-station-stats-live-mode.md
  docs/runtime-configuration.md
Due: none

feat: add metrics selection to heatmap overview endpoint
  backend/app/api/v1/endpoints/heatmap.py
  backend/app/jobs/heatmap_cache_warmup.py
  backend/app/services/heatmap_service.py
  backend/app/services/station_stats_service.py
  backend/tests/services/test_station_stats_cache.py
  frontend/src/components/heatmap/HeatmapControls.tsx
  frontend/src/components/heatmap/MapLibreHeatmap.tsx
  frontend/src/pages/HeatmapPage.tsx
  frontend/src/services/endpoints/transitApi.ts
  frontend/src/tests/unit/HeatmapControls.test.tsx
  frontend/src/types/heatmap.ts
Due: frontend-prettier, eslint, typescript-check, test-quality

docs: document metrics parameter in heatmap overview API
  docs/tech-spec.md
Due: none

chore: improve atomic-commits skill grouping guidance
  .claude/skills/atomic-commits/SKILL.md
Due: none

docs: add plan for heatmap search pan/zoom enhancement
  docs/plans/2026-01-30-heatmap-search-pan-zoom.md
Due: none

feat: add heatmap search pan/zoom functionality
  .claude/skills/atomic-commits/SKILL.md
  .jules/bolt.md
  frontend/src/components/heatmap/HeatmapSearchOverlay.tsx
  frontend/src/components/heatmap/MapLibreHeatmap.tsx
  frontend/src/pages/HeatmapPage.tsx
  frontend/src/tests/unit/MapLibreHeatmap.test.tsx
  frontend/src/tests/unit/pages/HeatmapPage.test.tsx
Due: frontend-prettier, eslint, typescript-check, test-quality

docs: add realtime stats data investigation findings
  docs/plans/realtime-stats-data-investigation-findings.md
Due: none

docs: add agent improvement guideline to AGENTS.md
  AGENTS.md
Due: none

chore: remove GSD planning artifacts
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
Due: none

fix: improve atomic-commits skill reliability
  .claude/skills/atomic-commits/SKILL.md
Due: none

feat: add configurable basemap styles and improve theme transitions
  frontend/src/components/heatmap/MapLibreHeatmap.tsx
  frontend/src/lib/config.ts
  frontend/src/tests/unit/config.test.ts
Due: frontend-prettier, eslint, typescript-check, test-quality

docs: document basemap style configuration
  docs/tech-spec.md
Due: none

fix: add git diff --cached verification step to atomic-commits skill
  .claude/skills/atomic-commits/SKILL.md
Due: none

build(mypy): add config and stub typings
  .pre-commit-config.yaml
  backend/mypy.ini
  backend/typings/apscheduler/__init__.pyi
  backend/typings/apscheduler/schedulers/__init__.pyi
  backend/typings/apscheduler/schedulers/asyncio.pyi
  backend/typings/apscheduler/triggers/__init__.pyi
  backend/typings/apscheduler/triggers/interval.pyi
  backend/typings/google/__init__.pyi
  backend/typings/google/transit/__init__.pyi
  backend/typings/google/transit/gtfs_realtime_pb2.pyi
  backend/typings/gtfs_realtime_bindings.pyi
  backend/typings/prometheus_client/__init__.pyi
  backend/typings/slowapi/__init__.pyi
  backend/typings/slowapi/errors.pyi
  backend/typings/slowapi/util.pyi
  backend/typings/valkey/__init__.pyi
  backend/typings/valkey/asyncio.pyi
Due: none

fix(mypy): resolve backend typing issues
  backend/app/api/v1/endpoints/ingestion.py
  backend/app/api/v1/endpoints/transit/stops.py
  backend/app/api/v1/shared/rate_limit.py
  backend/app/services/daily_aggregation_service.py
  backend/app/services/gtfs_feed.py
  backend/app/services/gtfs_realtime.py
  backend/app/services/gtfs_realtime_harvester.py
  backend/app/services/heatmap_service.py
Due: none

docs: update AGENTS guidance
  AGENTS.md
Due: none

chore: remove stale jules note
  .jules/bolt.md
Due: none

docs(plans): remove implemented plan docs
  docs/plans/2026-01-25-frontend-heatmap-audit-and-fix-plan.md
  docs/plans/2026-01-30-heatmap-search-pan-zoom.md
  docs/plans/investigate-realtime-stats-data.md
Due: none

feat(observability): add local prometheus and grafana stack
  .env.example
  docker-compose.observability.yml
  observability/grafana/dashboards/bahnvision-observability.json
  observability/grafana/provisioning/dashboards/dashboards.yml
  observability/grafana/provisioning/datasources/datasource.yml
  observability/prometheus/prometheus.yml
Due: none
