Repository rburketaylor/BahnVision: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-prettier, eslint, typescript-check, test-quality

frontend-prettier:
  name: frontend prettier
  entry: bash -c 'cd frontend && npx prettier --check .'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: typescript type-check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

test-quality:
  name: test quality check
  entry: python scripts/check_test_quality.py
  language: system
  args:
  - backend/tests
  - frontend/src
  pass_filenames: false

docs: add lightweight heatmap implementation plan
  docs/lightweight-heatmap-plan.md
Due: none

feat(backend): add lightweight heatmap overview endpoint
  backend/app/api/v1/endpoints/heatmap.py
  backend/app/jobs/heatmap_cache_warmup.py
  backend/app/models/heatmap.py
  backend/app/services/heatmap_service.py
  backend/tests/api/test_heatmap_overview_endpoint.py
  backend/tests/jobs/test_heatmap_cache_warmup.py
  backend/tests/services/test_heatmap_service_overview.py
Due: test-quality

feat(frontend): consume heatmap overview endpoint
  frontend/src/components/heatmap/MapLibreHeatmap.tsx
  frontend/src/components/heatmap/StationPopup.tsx
  frontend/src/hooks/useHeatmapOverview.test.tsx
  frontend/src/hooks/useHeatmapOverview.ts
  frontend/src/pages/HeatmapPage.tsx
  frontend/src/services/endpoints/transitApi.ts
  frontend/src/tests/unit/pages/HeatmapPage.test.tsx
  frontend/src/types/heatmap.ts
Due: frontend-prettier, eslint, typescript-check, test-quality

fix(frontend): update jest-dom types for vitest
  frontend/tsconfig.test.json
Due: frontend-prettier

docs: fix formatting in bolt.md
  .jules/bolt.md
Due: none

feat(database): add daily station stats table and fix heatmap duplication
  backend/alembic/versions/add_daily_station_stats.py
  backend/alembic/versions/fix_heatmap_duplication.py
  backend/app/api/v1/endpoints/heatmap.py
  backend/app/persistence/models.py
  backend/app/services/daily_aggregation_service.py
  backend/app/services/gtfs_realtime_harvester.py
  backend/app/services/heatmap_service.py
  backend/scripts/backfill_daily_stats.py
  backend/tests/api/v1/test_heatmap.py
  backend/tests/services/test_daily_aggregation_service.py
  backend/tests/services/test_heatmap_service.py
Due: test-quality

feat(infrastructure): add daily aggregation cron job and frontend timeout adjustments
  docker-compose.yml
  frontend/src/services/endpoints/transitApi.ts
Due: frontend-prettier, eslint, typescript-check

fix(infrastructure): update alpine linux to 3.23.2
  docker-compose.yml
Due: none

fix(backend): add deadlock retry mechanism for GTFS-RT harvester DB operations
  backend/app/services/gtfs_realtime_harvester.py
Due: none

docs: correct tech stack descriptions and clarify persistence capabilities
  backend/README.md
  docs/tech-spec.md
  frontend/README.md
Due: frontend-prettier

ci: trigger workflow on PRs targeting develop branch
  .github/workflows/ci.yml
Due: none

test(backend): fix mock return value for station name cache
  backend/tests/services/test_station_stats_cache.py
Due: test-quality

docs: simplify CSP note in README
  README.md
Due: none

refactor(backend): extract shared API utilities
  backend/app/api/v1/endpoints/heatmap.py
  backend/app/api/v1/endpoints/transit/departures.py
  backend/app/api/v1/endpoints/transit/stops.py
  backend/app/api/v1/shared/__init__.py
  backend/app/api/v1/shared/cache_headers.py
  backend/app/api/v1/shared/constants.py
  backend/app/api/v1/shared/converters.py
  backend/app/api/v1/shared/errors.py
  backend/tests/api/v1/test_transit_station_stats.py
Due: test-quality

refactor(frontend): extract shared monitoring components and hooks
  frontend/src/components/monitoring/IngestionTab.tsx
  frontend/src/components/monitoring/OverviewTab.tsx
  frontend/src/components/monitoring/PerformanceTab.tsx
  frontend/src/components/shared/ErrorCard.tsx
  frontend/src/components/shared/RefreshButton.tsx
  frontend/src/components/shared/Spinner.tsx
  frontend/src/components/shared/index.ts
  frontend/src/hooks/useAutoRefresh.ts
Due: frontend-prettier, eslint, typescript-check

chore: remove obsolete planning documents
  .jules/bolt.md
  docs/historical-view-fix.md
  docs/lightweight-heatmap-plan.md
Due: none

chore: add direnv support for automatic dev environment loading
  .envrc
  .gitignore
  README.md
  scripts/setup-dev.sh
Due: none

docs: update AGENTS.md with direnv instructions
  .secrets.baseline
  AGENTS.md
Due: none

chore: add atomic-commits skill to repository
  .claude/skills/atomic-commits/SKILL.md
Due: none

perf: parallelize GTFS feed import with TaskGroup
  backend/app/services/gtfs_feed.py
Due: none

perf: parallelize GTFS-RT storage and add compression support
  backend/app/services/gtfs_realtime.py
  backend/app/services/gtfs_realtime_harvester.py
Due: none

perf: increase database connection pool size
  backend/app/core/config.py
Due: none

fix: improve MapLibre popup lifecycle management
  frontend/src/components/heatmap/MapLibreHeatmap.tsx
Due: frontend-prettier, eslint, typescript-check

docs: add BVV-style UI design upgrade plan
  docs/plans/2026-01-21-ui-design-upgrade.md
Due: none

chore: add .worktrees/ to gitignore
  .gitignore
Due: none

feat: add BVV design system foundation to Tailwind and CSS
  frontend/src/index.css
  frontend/tailwind.config.ts
Due: frontend-prettier, eslint, typescript-check

feat: add reusable Badge component for transport modes
  frontend/src/components/shared/Badge.tsx
Due: frontend-prettier, eslint, typescript-check

feat: add reusable Card component with accent borders
  frontend/src/components/shared/Card.tsx
Due: frontend-prettier, eslint, typescript-check

feat: add BVV marker color utilities for map styling
  frontend/src/components/heatmap/markerStyles.ts
Due: frontend-prettier, eslint, typescript-check

feat: apply BVV styling to HeatmapOverlayPanel
  frontend/src/components/heatmap/HeatmapOverlayPanel.tsx
Due: frontend-prettier, eslint, typescript-check

feat: apply BVV styling to HeatmapLegend
  frontend/src/components/heatmap/HeatmapLegend.tsx
Due: frontend-prettier, eslint, typescript-check

feat: apply BVV styling to HeatmapSearchOverlay
  frontend/src/components/heatmap/HeatmapSearchOverlay.tsx
Due: frontend-prettier, eslint, typescript-check

feat: apply BVV styling to HeatmapStats
  frontend/src/components/heatmap/HeatmapStats.tsx
  frontend/src/tests/unit/HeatmapStats.test.tsx
Due: frontend-prettier, eslint, typescript-check, test-quality

feat: apply BVV styling to HeatmapControls
  frontend/src/components/heatmap/HeatmapControls.tsx
  frontend/src/tests/unit/HeatmapControls.test.tsx
Due: frontend-prettier, eslint, typescript-check, test-quality

feat: apply BVV styling to MapLibreHeatmap markers
  frontend/src/components/heatmap/MapLibreHeatmap.tsx
Due: frontend-prettier, eslint, typescript-check

feat: apply BVV styling to StationPopup
  frontend/src/components/heatmap/StationPopup.tsx
Due: frontend-prettier, eslint, typescript-check

feat: export shared components and add implementation docs
  docs/plans/2026-01-21-ui-design-upgrade-implementation.md
  frontend/src/components/shared/index.ts
Due: frontend-prettier, eslint, typescript-check

chore(skills): add atomic-commits codex skill
  .codex/skills/atomic-commits/SKILL.md
Due: none

chore(skills): align claude atomic-commits workflow
  .claude/skills/atomic-commits/SKILL.md
Due: none

docs(plans): add frontend heatmap audit and fix plan
  docs/plans/2026-01-25-frontend-heatmap-audit-and-fix-plan.md
Due: none

Path conditions:
  frontend-prettier: any of: ^frontend/
  eslint: any of: ^frontend/.*\.(ts|tsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  test-quality: any of: (backend/tests|frontend/src)/.*\.(py|test\.tsx?)$
