Repository rburketaylor/BahnVision: changes, and which pre-commit hooks are due for each by the changed paths.
All: pip-audit, frontend-prettier, eslint, typescript-check, test-quality, backend-tests, frontend-tests

.pre-commit-config.yaml:

repos:
  # === Security ===
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
        exclude: package-lock\.json$

  - repo: local
    hooks:
      - id: pip-audit
        name: pip-audit (Python dependency vulnerabilities)
        # TODO: remove ignore once protobuf fix is available.
        entry: >-
          bash -c 'source backend/.venv/bin/activate && pip-audit
          --ignore-vuln CVE-2026-0994'
        language: system
        files: ^backend/(requirements.*\.txt|pyproject\.toml)$
        pass_filenames: false

  # === Formatting ===
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json, markdown]
        exclude: |
          (?x)^(
            package-lock\.json|
            frontend/package-lock\.json
          )$
  # === Python (Backend) ===
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
      - id: ruff-format
        files: ^backend/
      - id: ruff-check
        args: [--fix]
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        files: ^backend/app/
        args: [--config-file=backend/mypy.ini]
        additional_dependencies:
          - pydantic
          - fastapi
          - httpx==0.28.1
          - opentelemetry-api==1.39.1
          - opentelemetry-exporter-otlp==1.39.1
          - opentelemetry-instrumentation-fastapi==0.60b1
          - opentelemetry-instrumentation-httpx==0.60b1
          - opentelemetry-propagator-b3==1.39.1
          - opentelemetry-sdk==1.39.1
          - polars>=1.36.1
          - prometheus-client==0.24.1
          - pydantic-settings==2.12.0
          - SQLAlchemy==2.0.46
          - slowapi==0.1.9
          - uvicorn==0.40.0
          - valkey==6.1.1

  # === TypeScript/React (Frontend) ===
  - repo: local
    hooks:
      - id: frontend-prettier
        name: frontend prettier
        entry: bash -c 'cd frontend && npx prettier --check .'
        language: system
        files: ^frontend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: typescript-check
        name: typescript type-check
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: test-quality
        name: test quality check
        entry: python scripts/check_test_quality.py
        language: system
        files: (backend/tests|frontend/src)/.*\.(py|test\.tsx?)$
        args: [backend/tests, frontend/src]
        pass_filenames: false

  # === Tests ===
  - repo: local
    hooks:
      - id: backend-tests
        name: backend tests (pytest + coverage)
        entry: bash -c 'source backend/.venv/bin/activate && pytest backend/tests -q --tb=short -x --cov=app --cov-fail-under=70'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
        stages: [pre-commit]

      - id: frontend-tests
        name: frontend tests (vitest)
        entry: bash -c 'cd frontend && npm run test -- --run'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false
        stages: [pre-commit]

docs(readme): add observability startup and config instructions
  README.md
Due: none

build(frontend): add shadcn foundation and ui dependencies
  frontend/components.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/utils.ts
  frontend/tailwind.config.ts
Due: frontend-prettier, eslint, typescript-check, frontend-tests

refactor(frontend): split global css into layered style modules
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/styles/animations.css
  frontend/src/styles/globals.css
  frontend/src/styles/map.css
  frontend/src/styles/theme.css
Due: frontend-prettier, eslint, typescript-check, frontend-tests

feat(frontend): add ui primitive library and shared wrappers
  frontend/src/components/shared/Badge.tsx
  frontend/src/components/shared/Card.tsx
  frontend/src/components/shared/ErrorCard.tsx
  frontend/src/components/shared/RefreshButton.tsx
  frontend/src/components/shared/Spinner.tsx
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/error-card.tsx
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/components/ui/refresh-button.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/spinner.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/components/ui/toggle.tsx
Due: frontend-prettier, eslint, typescript-check, frontend-tests

refactor(frontend): move layout and feature components into target folders
  frontend/src/components/DeparturesBoard.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/StationSearch.tsx
  frontend/src/components/ThemeToggle.tsx
  frontend/src/components/features/heatmap/HeatmapControls.tsx
  frontend/src/components/features/heatmap/HeatmapLegend.tsx
  frontend/src/components/features/heatmap/HeatmapOverlayPanel.tsx
  frontend/src/components/features/heatmap/HeatmapSearchOverlay.tsx
  frontend/src/components/features/heatmap/HeatmapStats.tsx
  frontend/src/components/features/heatmap/MapLibreHeatmap.tsx
  frontend/src/components/features/heatmap/StationPopup.tsx
  frontend/src/components/features/heatmap/index.ts
  frontend/src/components/features/heatmap/markerStyles.ts
  frontend/src/components/features/monitoring/IngestionTab.tsx
  frontend/src/components/features/monitoring/OverviewTab.tsx
  frontend/src/components/features/monitoring/PerformanceTab.tsx
  frontend/src/components/features/monitoring/index.ts
  frontend/src/components/features/station/DeparturesBoard.tsx
  frontend/src/components/features/station/StationSearch.tsx
  frontend/src/components/features/station/index.ts
  frontend/src/components/heatmap/HeatmapControls.tsx
  frontend/src/components/heatmap/HeatmapLegend.tsx
  frontend/src/components/heatmap/HeatmapOverlayPanel.tsx
  frontend/src/components/heatmap/HeatmapSearchOverlay.tsx
  frontend/src/components/heatmap/HeatmapStats.tsx
  frontend/src/components/heatmap/MapLibreHeatmap.tsx
  frontend/src/components/heatmap/StationPopup.tsx
  frontend/src/components/heatmap/index.ts
  frontend/src/components/heatmap/markerStyles.ts
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/layout/ThemeToggle.tsx
  frontend/src/components/layout/index.ts
  frontend/src/components/monitoring/IngestionTab.tsx
  frontend/src/components/monitoring/OverviewTab.tsx
  frontend/src/components/monitoring/PerformanceTab.tsx
  frontend/src/tests/unit/HeatmapSearchOverlay.test.tsx
Due: frontend-prettier, eslint, typescript-check, test-quality, frontend-tests

refactor(frontend): rewire app and pages to migrated component paths
  frontend/src/App.tsx
  frontend/src/pages/HeatmapPage.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/MonitoringPage.tsx
  frontend/src/pages/StationPage.tsx
  frontend/src/tests/unit/pages/HeatmapPage.test.tsx
  frontend/src/tests/unit/pages/MainPage.test.tsx
  frontend/src/tests/unit/pages/StationPage.test.tsx
Due: frontend-prettier, eslint, typescript-check, test-quality, frontend-tests

fix(backend): filter cached heatmap overview by transport mode
  backend/app/api/v1/endpoints/heatmap.py
  backend/tests/api/v1/test_heatmap.py
Due: test-quality, backend-tests

feat(frontend): refresh design tokens and shared ui primitives
  frontend/src/components/shared/Badge.tsx
  frontend/src/components/shared/Card.tsx
  frontend/src/components/shared/RefreshButton.tsx
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/error-card.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/refresh-button.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/styles/animations.css
  frontend/src/styles/globals.css
  frontend/src/styles/theme.css
  frontend/src/tests/unit/Badge.test.tsx
  frontend/tailwind.config.ts
Due: frontend-prettier, eslint, typescript-check, test-quality, frontend-tests

refactor(frontend): restyle app shell and feature pages with new system
  frontend/src/components/features/heatmap/HeatmapControls.tsx
  frontend/src/components/features/heatmap/HeatmapLegend.tsx
  frontend/src/components/features/heatmap/HeatmapOverlayPanel.tsx
  frontend/src/components/features/heatmap/HeatmapSearchOverlay.tsx
  frontend/src/components/features/heatmap/HeatmapStats.tsx
  frontend/src/components/features/monitoring/IngestionTab.tsx
  frontend/src/components/features/monitoring/OverviewTab.tsx
  frontend/src/components/features/monitoring/PerformanceTab.tsx
  frontend/src/components/features/station/DeparturesBoard.tsx
  frontend/src/components/features/station/StationSearch.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/layout/ThemeToggle.tsx
  frontend/src/pages/HeatmapPage.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/MonitoringPage.tsx
  frontend/src/pages/StationPage.tsx
  frontend/src/tests/unit/HeatmapControls.test.tsx
  frontend/src/tests/unit/HeatmapLegend.test.tsx
  frontend/src/tests/unit/HeatmapStats.test.tsx
  frontend/src/tests/unit/Layout.test.tsx
Due: frontend-prettier, eslint, typescript-check, test-quality, frontend-tests

test(tooling): expand test-quality checks and harden deterministic tests
  .pre-commit-config.yaml
  .secrets.baseline
  backend/tests/fixtures/gtfs_data.py
  backend/tests/services/test_cache_compatibility.py
  backend/tests/services/test_cache_primitives.py
  scripts/check_test_quality.py
Due: test-quality, backend-tests

fix(gtfs-rt): harden import locking and dedup fallback behavior
  backend/app/services/gtfs_import_lock.py
  backend/app/services/gtfs_realtime_harvester.py
  backend/tests/jobs/test_rt_processor.py
  backend/tests/services/test_gtfs_import_lock.py
  backend/tests/services/test_gtfs_realtime_harvester.py
Due: test-quality, backend-tests

fix(db): align ingestion enums and harden migration safety
  backend/alembic/env.py
  backend/alembic/versions/add_gtfs_tables.py
  backend/alembic/versions/fix_heatmap_duplication.py
  backend/app/persistence/models.py
  backend/app/persistence/repositories.py
  docker-compose.yml
Due: backend-tests

fix(heatmap): respect transport filters and normalize overview cache keys
  backend/app/api/v1/endpoints/heatmap.py
  backend/app/services/heatmap_cache.py
  backend/app/services/heatmap_service.py
  backend/app/services/station_stats_service.py
  backend/tests/api/v1/test_heatmap.py
  backend/tests/services/test_heatmap_service.py
Due: test-quality, backend-tests

fix(transit): support absolute departure windows and canceled mappings
  backend/app/api/v1/endpoints/transit/departures.py
  backend/app/models/transit.py
  backend/app/services/gtfs_realtime.py
  backend/app/services/transit_data.py
  backend/tests/api/v1/test_departures.py
  backend/tests/services/test_departures_cache.py
  backend/tests/services/test_gtfs_realtime.py
  backend/tests/services/test_transit_data.py
  docs/tech-spec.md
  frontend/src/pages/StationPage.tsx
  frontend/src/tests/unit/pages/StationPage.test.tsx
  frontend/src/types/gtfs.ts
Due: frontend-prettier, eslint, typescript-check, test-quality, backend-tests, frontend-tests

fix(config): support JSON and CSV CORS origin formats
  .env.example
  backend/app/core/config.py
  backend/tests/core/test_config.py
Due: test-quality, backend-tests

fix(frontend): improve monitoring parsing and shortcut safety
  frontend/playwright.config.ts
  frontend/src/components/features/heatmap/HeatmapSearchOverlay.tsx
  frontend/src/components/features/monitoring/IngestionTab.tsx
  frontend/src/components/features/monitoring/OverviewTab.tsx
  frontend/src/components/features/monitoring/PerformanceTab.tsx
  frontend/src/tests/unit/HeatmapSearchOverlay.test.tsx
  frontend/tests/e2e/pages/monitoring.spec.ts
  frontend/tests/e2e/pages/search.spec.ts
Due: frontend-prettier, eslint, typescript-check, test-quality, frontend-tests

docs(plans): add bug triage snapshot for 2026-02-07
  docs/plans/bug-triage-2026-02-07.md
Due: none

fix(gtfs-rt): avoid dedup double-count on mset failures
  backend/app/services/gtfs_realtime_harvester.py
  backend/tests/services/test_gtfs_realtime_harvester.py
Due: test-quality, backend-tests

test(rt-processor): strengthen cancellation loop assertions
  backend/tests/jobs/test_rt_processor.py
Due: test-quality, backend-tests

chore(secrets): refresh detect-secrets baseline
  .secrets.baseline
Due: none

fix(ingestion): support app.state harvester fallback and add endpoint coverage
  backend/app/api/v1/endpoints/ingestion.py
  backend/tests/api/v1/test_ingestion.py
Due: test-quality, backend-tests

feat(health): add readiness endpoint with dependency checks
  backend/app/api/v1/endpoints/health.py
  backend/tests/api/v1/test_health.py
Due: test-quality, backend-tests

fix(runtime): harden local compose defaults and observability credentials
  .env.example
  README.md
  backend/docs/README.md
  docker-compose.observability.yml
  docker-compose.yml
  docs/local-setup.md
  docs/runtime-configuration.md
Due: none

feat(config): add DB pool tuning and admin API key settings
  backend/app/core/config.py
  backend/app/core/database.py
  backend/tests/core/test_config.py
Due: test-quality, backend-tests

fix(heatmap): secure admin trigger and harden cache/rate-limit handling
  backend/app/api/v1/endpoints/heatmap.py
  backend/app/api/v1/shared/__init__.py
  backend/app/api/v1/shared/constants.py
  backend/app/api/v1/shared/dependencies.py
  backend/tests/api/v1/test_heatmap.py
  backend/tests/services/test_heatmap_cache.py
Due: test-quality, backend-tests

fix(transit): validate stop IDs and harden cache decode paths
  backend/app/api/v1/endpoints/transit/stops.py
  backend/tests/api/v1/test_transit.py
  backend/tests/api/v1/test_transit_station_stats.py
Due: test-quality, backend-tests

fix(gtfs): harden import and realtime aggregation integrity
  backend/alembic/versions/add_trip_route_idx_and_rt_stop_fk.py
  backend/app/persistence/models.py
  backend/app/services/gtfs_feed.py
  backend/app/services/gtfs_realtime.py
  backend/app/services/gtfs_realtime_harvester.py
  backend/tests/services/test_gtfs_feed_importer.py
  backend/tests/services/test_gtfs_realtime.py
  backend/tests/services/test_gtfs_realtime_harvester.py
  docs/tech-spec.md
Due: test-quality, backend-tests

fix(frontend): improve station/map stability and test robustness
  frontend/src/components/features/heatmap/MapLibreHeatmap.tsx
  frontend/src/components/features/station/DeparturesBoard.tsx
  frontend/src/pages/StationPage.tsx
  frontend/src/tests/unit/Badge.test.tsx
  frontend/src/tests/unit/Card.test.tsx
  frontend/src/tests/unit/MapLibreHeatmap.test.tsx
  frontend/src/tests/unit/pages/StationPage.test.tsx
  frontend/src/tests/unit/popupLayout.test.tsx
  frontend/tests/e2e/error-handling.spec.ts
Due: frontend-prettier, eslint, typescript-check, test-quality, frontend-tests

docs(plans): add verified issue remediation plan for 2026-02-08
  docs/plans/verified-issue-remediation-2026-02-08.md
Due: none

docs(plans): consolidate pending backlog and archive completed plans
  docs/plans/bug-triage-2026-02-07.md
  docs/plans/pending-plan-items-2026-02-09.md
  docs/plans/realtime-stats-data-investigation-findings.md
  docs/plans/verified-issue-remediation-2026-02-08.md
Due: none

fix: update ruff, migration FK handling, and e2e retry tests
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  backend/alembic/versions/add_trip_route_idx_and_rt_stop_fk.py
  backend/tests/api/v1/test_transit_station_stats.py
  frontend/tests/e2e/error-handling.spec.ts
Due: frontend-prettier, eslint, typescript-check, test-quality, backend-tests, frontend-tests

fix: stabilize heatmap rate-limit test under CI settings
  backend/tests/api/v1/test_heatmap.py
Due: test-quality, backend-tests

fix: support comma-separated list env vars in settings
  backend/app/core/config.py
  backend/tests/core/test_config.py
Due: test-quality, backend-tests

chore: retarget dependabot updates to develop
  .github/dependabot.yml
Due: none

Delete .jules/bolt.md
  .jules/bolt.md
Due: none

chore(skills): add agent metadata for atomic-commits skill
  .codex/skills/atomic-commits/agents/openai.yaml
Due: none

feat(skills): add gh-code-scanning-triage skill and helper script
  .codex/skills/gh-code-scanning-triage/SKILL.md
  .codex/skills/gh-code-scanning-triage/agents/openai.yaml
  .codex/skills/gh-code-scanning-triage/scripts/check-alerts.sh
Due: none

docs(skills): speed up atomic-commits pre-commit workflow
  .codex/skills/atomic-commits/SKILL.md
Due: none

feat(frontend-ui): add shared radix primitives
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/accordion.tsx
  frontend/src/components/ui/avatar.tsx
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/progress.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/components/ui/tooltip.tsx
Due: frontend-prettier, eslint, typescript-check, frontend-tests
