Repository rburketaylor/BahnVision: changes, and which pre-commit hooks are due for each by the changed paths.
All: pip-audit, frontend-prettier, eslint, typescript-check, test-quality, backend-tests, frontend-tests

pip-audit:
  name: pip-audit (Python dependency vulnerabilities)
  entry: bash -c 'source backend/.venv/bin/activate && pip-audit --ignore-vuln CVE-2026-0994'
  language: system
  pass_filenames: false

frontend-prettier:
  name: frontend prettier
  entry: bash -c 'cd frontend && npx prettier --check .'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: typescript type-check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

test-quality:
  name: test quality check
  entry: python scripts/check_test_quality.py
  language: system
  args:
  - backend/tests
  - frontend/src
  pass_filenames: false

backend-tests:
  name: backend tests (pytest + coverage)
  entry: bash -c 'source backend/.venv/bin/activate && pytest backend/tests -q --tb=short -x --cov=app --cov-fail-under=70'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

frontend-tests:
  name: frontend tests (vitest)
  entry: bash -c 'cd frontend && npm run test -- --run'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

style(frontend): refresh app shell theming
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/styles/globals.css
  frontend/src/styles/theme.css
Due: frontend-prettier, eslint, typescript-check, frontend-tests

refactor(frontend): modernize page layouts and control panels
  frontend/src/components/features/heatmap/HeatmapControls.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/MonitoringPage.tsx
  frontend/src/pages/StationPage.tsx
  frontend/src/tests/unit/HeatmapControls.test.tsx
  frontend/src/tests/unit/pages/MonitoringPage.test.tsx
Due: frontend-prettier, eslint, typescript-check, test-quality, frontend-tests

refactor(backend): modernize GTFS SQLAlchemy model typing
  backend/app/models/gtfs.py
Due: backend-tests

docs(backend): add GTFS-RT monitoring operations guide
  backend/docs/README.md
  backend/docs/gtfs-rt-monitoring.md
Due: none

docs(skills): make atomic-commits full pre-commit check optional
  .codex/skills/atomic-commits/SKILL.md
Due: none

docs(plans): add logic bugs analysis report
  docs/plans/logic-bugs-analysis.md
Due: none

fix(backend-models): enforce GTFS schema constraints and deterministic upserts
  backend/alembic/versions/add_gtfs_parent_station_fk.py
  backend/app/models/gtfs.py
  backend/app/models/transit.py
  backend/app/persistence/repositories.py
  backend/tests/models/test_gtfs.py
  backend/tests/models/test_transit.py
  backend/tests/persistence/test_station_repository.py
  backend/tests/persistence/test_transit_data_repository.py
Due: test-quality, backend-tests

fix(backend-heatmap): harden cache single-flight and miss handling
  backend/app/api/v1/endpoints/heatmap.py
  backend/app/jobs/heatmap_cache_warmup.py
  backend/app/services/cache.py
  backend/app/services/heatmap_service.py
  backend/tests/api/v1/test_heatmap.py
  backend/tests/jobs/test_heatmap_cache_warmup.py
  backend/tests/services/test_cache_compatibility.py
  backend/tests/services/test_heatmap_service.py
Due: test-quality, backend-tests

fix(backend-rt): stabilize GTFS-RT locking and processing semantics
  backend/app/jobs/rt_processor.py
  backend/app/services/gtfs_import_lock.py
  backend/app/services/gtfs_realtime.py
  backend/app/services/gtfs_realtime_harvester.py
  backend/tests/jobs/test_rt_processor.py
  backend/tests/services/test_gtfs_import_lock.py
  backend/tests/services/test_gtfs_realtime.py
  backend/tests/services/test_gtfs_realtime_harvester.py
Due: test-quality, backend-tests

fix(backend-transit): tighten validation and aggregation edge cases
  backend/app/api/v1/endpoints/transit/departures.py
  backend/app/api/v1/endpoints/transit/stops.py
  backend/app/services/daily_aggregation_service.py
  backend/app/services/gtfs_feed.py
  backend/app/services/gtfs_schedule.py
  backend/app/services/station_stats_service.py
  backend/tests/api/v1/test_departures.py
  backend/tests/api/v1/test_transit_station_stats.py
  backend/tests/services/test_daily_aggregation_service.py
  backend/tests/services/test_gtfs_feed_importer.py
  backend/tests/services/test_gtfs_schedule.py
Due: test-quality, backend-tests

fix(frontend-api): prevent refresh overlap and improve diagnostics
  frontend/src/hooks/useAutoRefresh.test.tsx
  frontend/src/hooks/useAutoRefresh.ts
  frontend/src/services/endpoints/transitApi.ts
  frontend/src/services/httpClient.ts
  frontend/src/tests/unit/api-client.test.ts
  frontend/src/tests/unit/query-client.test.ts
  frontend/src/tests/unit/transitApiClient.test.ts
Due: frontend-prettier, eslint, typescript-check, test-quality, frontend-tests

docs(plans): add remediation tracker and profiling blueprint
  docs/plans/end-to-end-performance-profiling-plan.md
  docs/plans/logic-bugs-analysis.md
  docs/plans/logic-bugs-remediation-plan.md
Due: none

docs(plans): move refactor plans under docs/plans/refactor
  docs/plans/pending-plan-items-2026-02-09.md
  docs/plans/refactor/end-to-end-performance-profiling-plan.md
  docs/plans/refactor/logic-bugs-analysis.md
  docs/plans/refactor/logic-bugs-remediation-plan.md
  docs/plans/refactor/pending-plan-items-2026-02-09.md
Due: none

docs(plans): add silent-fallbacks remediation plan
  docs/plans/refactor/silent-fallbacks-remediation-plan-2026-02-17.md
Due: none

docs(plans): add voiceover demo planning docs
  docs/plans/voiceover-demo/demo-automation-recording-timestamping-qwen3tts-plan-2026-02-18.md
  docs/plans/voiceover-demo/qwen3-tts-thin-http-service-containerization-plan-2026-02-18.md
Due: none

build(deps-dev): align stryker packages to 9.6.0
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier

fix(e2e): update locators for heading level and tab role changes
  frontend/tests/e2e/flows/user-journeys.spec.ts
  frontend/tests/e2e/pages/monitoring.spec.ts
  frontend/tests/e2e/pages/station.spec.ts
Due: frontend-prettier, eslint, typescript-check, frontend-tests

docs(plans): add principal risk fraud implementation docs
  .gitignore
  docs/local/README.md
  docs/plans/principal-risk-fraud-implementation/README.md
  docs/plans/principal-risk-fraud-implementation/contracts/risk-scoring-interface-contract-2026-02-28.md
  docs/plans/principal-risk-fraud-implementation/principal-risk-fraud-master-plan-2026-02-27.md
  docs/plans/principal-risk-fraud-implementation/workstream-a-risk-scoring-slice-plan-2026-02-27.md
  docs/plans/principal-risk-fraud-implementation/workstream-b-mlops-lifecycle-plan-2026-02-27.md
  docs/plans/principal-risk-fraud-implementation/workstream-c-operations-readiness-plan-2026-02-27.md
  docs/plans/principal-risk-fraud-implementation/workstream-d-security-hardening-plan-2026-02-27.md
Due: none

docs(refactor): remove completed logic-bugs planning docs
  docs/plans/refactor/logic-bugs-analysis.md
  docs/plans/refactor/logic-bugs-remediation-plan.md
Due: none

feat(frontend-heatmap): canonicalize cancellations query keys
  frontend/src/hooks/useHeatmap.ts
  frontend/src/tests/unit/useHeatmap.test.tsx
Due: frontend-prettier, eslint, typescript-check, test-quality, frontend-tests

feat(frontend-ui): add dialog transitions and select error states
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/tests/unit/Dialog.test.tsx
  frontend/src/tests/unit/Select.test.tsx
Due: frontend-prettier, eslint, typescript-check, test-quality, frontend-tests

perf(frontend-heatmap): memoize filters and harden map tests
  frontend/src/components/features/heatmap/HeatmapControls.tsx
  frontend/src/components/features/heatmap/HeatmapLegend.tsx
  frontend/src/tests/unit/MapLibreHeatmap.test.tsx
Due: frontend-prettier, eslint, typescript-check, test-quality, frontend-tests

fix(api-health): standardize readiness errors payload shape
  backend/app/api/v1/endpoints/health.py
  backend/docs/gtfs-rt-monitoring.md
  backend/tests/api/v1/test_health.py
Due: test-quality, backend-tests

docs(refactor): refresh logic-bugs tracker and remediation handoff
  docs/plans/refactor/logic-bugs-analysis.md
  docs/plans/refactor/logic-bugs-remediation-plan.md
  frontend/src/components/heatmap/index.ts
Due: frontend-prettier, eslint, typescript-check, frontend-tests

fix(frontend-station): stabilize departures board row keys
  frontend/src/components/features/station/DeparturesBoard.tsx
  frontend/src/tests/unit/DeparturesBoard.test.tsx
Due: frontend-prettier, eslint, typescript-check, test-quality, frontend-tests

⚡ Bolt: Optimize JSON serialization in cache service (#234)
  .github/workflows/ci.yml
  .jules/bolt.md
  backend/app/services/cache.py
  backend/tests/services/test_fast_encoder.py
  frontend/tests/e2e/flows/user-journeys.spec.ts
  frontend/tests/e2e/pages/monitoring.spec.ts
  frontend/tests/e2e/pages/station.spec.ts
Due: frontend-prettier, eslint, typescript-check, test-quality, backend-tests, frontend-tests

feat(backend): stream GTFS downloads and improve error logging
  backend/app/jobs/gtfs_scheduler.py
  backend/app/services/gtfs_feed.py
  backend/tests/services/test_gtfs_feed.py
  backend/tests/services/test_gtfs_feed_importer.py
Due: test-quality, backend-tests

build(deps): fix docker-compose socat tag, add alembic to image, bump deps
  backend/Dockerfile
  backend/requirements.runtime.txt
  backend/requirements.txt
  docker-compose.yml
Due: pip-audit

feat(frontend): support live time range in station stats and heatmap popups
  frontend/src/pages/HeatmapPage.tsx
  frontend/src/tests/unit/pages/HeatmapPage.test.tsx
  frontend/src/tests/unit/useStationStats.test.tsx
  frontend/src/types/gtfs.ts
Due: frontend-prettier, eslint, typescript-check, test-quality, frontend-tests

refactor(frontend): unify heatmap legend colors with marker styles
  frontend/src/components/features/heatmap/HeatmapLegend.tsx
  frontend/src/components/features/heatmap/markerStyles.ts
  frontend/src/tests/unit/HeatmapLegend.test.tsx
Due: frontend-prettier, eslint, typescript-check, test-quality, frontend-tests

chore(gitignore): add local tool configs and accidental root npm installs
  .gitignore
  .jules/bolt.md
Due: none

build(ci): bump trivy-action to v0.36.0
  .github/workflows/ci.yml
Due: none

build(deps): bump frontend deps and add minimatch override
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier

docs(skills): refine atomic-commits skill with safety guards and troubleshooting
  .claude/skills/atomic-commits/SKILL.md
Due: none

docs(plans): add efficiency optimization planning docs
  docs/plans/efficiency-optimizations/archive/efficiency-optimizations-gemini.md
  docs/plans/efficiency-optimizations/archive/efficiency-optimizations-glm.md
  docs/plans/efficiency-optimizations/archive/efficiency-optimizations-gpt.md
  docs/plans/efficiency-optimizations/archive/efficiency-optimizations-kimi.md
  docs/plans/efficiency-optimizations/efficiency-optimizations-compilation-2026-04-28.md
  docs/plans/efficiency-optimizations/efficiency-optimizations-subagent-implementation-plan-2026-04-28.md
  docs/plans/efficiency-optimizations/implementation-audit-2026-04-28.md
Due: none

feat(backend): add shared efficiency controls and API timing
  backend/app/core/config.py
  backend/app/core/metrics.py
  backend/app/main.py
  backend/app/services/cache.py
  backend/app/services/transit_data.py
  backend/docs/README.md
  backend/tests/api/test_metrics.py
  backend/tests/app/test_main_lifecycle.py
  backend/tests/core/test_config.py
  backend/tests/core/test_metrics.py
  backend/tests/services/test_cache_primitives.py
  backend/tests/services/test_departures_cache.py
  docker-compose.yml
Due: test-quality, backend-tests

feat(realtime): add validated hourly retention cleanup
  backend/alembic/versions/remove_realtime_station_stats_stop_fk_cascade.py
  backend/app/persistence/models.py
  backend/app/services/realtime_retention_service.py
  backend/tests/services/test_realtime_retention_service.py
Due: test-quality, backend-tests

feat(gtfs): compact static schedule storage and imports
  backend/alembic/versions/add_stop_search_and_parent_station_indexes.py
  backend/alembic/versions/compact_static_gtfs_schema.py
  backend/alembic/versions/convert_gtfs_stop_times_to_seconds.py
  backend/app/models/gtfs.py
  backend/app/services/gtfs_feed.py
  backend/app/services/gtfs_schedule.py
  backend/tests/fixtures/gtfs_data.py
  backend/tests/models/test_gtfs.py
  backend/tests/services/test_gtfs_feed.py
  backend/tests/services/test_gtfs_feed_importer.py
  backend/tests/services/test_gtfs_schedule.py
  backend/tests/test_alembic_migrations.py
Due: test-quality, backend-tests

perf(heatmap): aggregate station breakdowns in SQL
  backend/alembic/versions/add_heatmap_indexes.py
  backend/app/services/gtfs_realtime_harvester.py
  backend/app/services/heatmap_service.py
  backend/tests/services/test_daily_aggregation_service.py
  backend/tests/services/test_gtfs_realtime_harvester.py
  backend/tests/services/test_heatmap_service.py
Due: test-quality, backend-tests

docs(skills): refine atomic commit workflow
  .codex/skills/atomic-commits/SKILL.md
  .codex/skills/atomic-commits/agents/openai.yaml
Due: none

Path conditions:
  pip-audit: any of: ^backend/(requirements.*\.txt|pyproject\.toml)$
  frontend-prettier: any of: ^frontend/
  eslint: any of: ^frontend/.*\.(ts|tsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  test-quality: any of: (backend/tests|frontend/src)/.*\.(py|test\.tsx?)$
  backend-tests: any of: ^backend/.*\.py$
  frontend-tests: any of: ^frontend/.*\.(ts|tsx)$
