Repository rburketaylor/BahnVision: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-prettier, eslint, typescript-check, test-quality

frontend-prettier:
  name: frontend prettier
  entry: bash -c 'cd frontend && npx prettier --check .'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: typescript type-check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

test-quality:
  name: test quality check
  entry: python scripts/check_test_quality.py
  language: system
  args:
  - backend/tests
  - frontend/src
  pass_filenames: false

fix: improve test quality checker to reduce false positives
  scripts/check_test_quality.py
Due: none

test: add assertion to exception handling test
  backend/tests/jobs/test_heatmap_cache_warmup.py
Due: test-quality

style(frontend): format package.json and component
  frontend/package.json
  frontend/src/components/heatmap/HeatmapSearchOverlay.tsx
Due: frontend-prettier, eslint, typescript-check

style: format markdown and yaml files
  .github/dependabot.yml
  .github/workflows/test-migrations.yml
  .secrets.baseline
  AGENTS.md
  README.md
  backend/README.md
  backend/alembic/README.md
  codecov.yml
  docker-compose.yml
  docs/local-setup.md
  docs/runtime-configuration.md
  docs/tech-spec.md
  frontend/README.md
  frontend/docs/operations/observability.md
  frontend/docs/operations/testing.md
  frontend/docs/product/ux-flows.md
  frontend/docs/roadmap/delivery-plan.md
  frontend/docs/roadmap/departures-improvement-plan.md
  frontend/docs/roadmap/roadmap.md
  frontend/docs/roadmap/unified-implementation-plan.md
Due: frontend-prettier

fix(e2e): use shared constants for monitoring mock data
  frontend/tests/e2e/pages/monitoring.spec.ts
Due: frontend-prettier, eslint, typescript-check

refactor(heatmap): remove hotspot pulse animation and swap theme colors
  frontend/src/components/heatmap/MapLibreHeatmap.tsx
  frontend/src/index.css
Due: frontend-prettier, eslint, typescript-check

build: add pre-commit hooks for backend and frontend tests
  .pre-commit-config.yaml
  AGENTS.md
  frontend/src/tests/unit/MapLibreHeatmap.test.tsx
Due: frontend-prettier, eslint, typescript-check, test-quality

fix: add uptime/version to health endpoint and instrument cache metrics
  backend/app/api/v1/endpoints/health.py
  backend/app/services/cache.py
  backend/tests/api/v1/test_health.py
  backend/tests/services/test_cache_metrics.py
  frontend/src/components/monitoring/PerformanceTab.tsx
Due: frontend-prettier, eslint, typescript-check, test-quality

feat: enable simultaneous display of cancellations and delays on heatmap
  frontend/src/components/heatmap/HeatmapControls.tsx
  frontend/src/components/heatmap/HeatmapLegend.tsx
  frontend/src/components/heatmap/HeatmapStats.tsx
  frontend/src/components/heatmap/MapLibreHeatmap.tsx
  frontend/src/pages/HeatmapPage.tsx
  frontend/src/tests/unit/HeatmapControls.test.tsx
  frontend/src/tests/unit/HeatmapStats.test.tsx
  frontend/src/tests/unit/MapLibreHeatmap.test.tsx
  frontend/src/types/heatmap.ts
Due: frontend-prettier, eslint, typescript-check, test-quality

fix: improve GTFS-RT data handling and harvester reliability
  backend/app/main.py
  backend/app/services/gtfs_realtime.py
  backend/app/services/gtfs_realtime_harvester.py
Due: none

feat(cache): add mget_json for batch JSON retrieval
  backend/app/services/cache.py
  backend/tests/services/test_cache_metrics.py
Due: test-quality

feat(gtfs-rt): batch fetch vehicle positions, trip updates, and alerts
  backend/app/services/gtfs_realtime.py
  backend/tests/services/test_gtfs_realtime.py
Due: test-quality

refactor(transit): use batch vehicle position fetching
  backend/app/services/transit_data.py
Due: none

fix(deps): resolve npm security vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier

fix: address issues in departure caching implementation
  backend/app/services/transit_data.py
  backend/tests/services/test_transit_data.py
Due: test-quality

test: add coverage for DepartureInfo serialization and caching
  backend/tests/services/test_transit_data.py
Due: test-quality

build: add coverage check to pre-commit hooks
  .pre-commit-config.yaml
  backend/pyproject.toml
Due: none

perf(cache): implement batch operations and stale-while-revalidate caching
  backend/app/api/v1/endpoints/transit/stops.py
  backend/app/api/v1/shared/cache_protocols.py
  backend/app/services/cache.py
  backend/app/services/gtfs_realtime.py
  backend/app/services/gtfs_schedule.py
  backend/app/services/station_stats_service.py
  backend/app/services/transit_data.py
  backend/tests/api/v1/shared/test_cache_protocols.py
  backend/tests/api/v1/test_transit_station_stats.py
  backend/tests/services/test_cache_singleton.py
  backend/tests/services/test_departures_cache.py
  backend/tests/services/test_gtfs_realtime.py
  backend/tests/services/test_gtfs_realtime_batch.py
  backend/tests/services/test_station_stats_cache.py
  backend/tests/services/test_transit_data.py
  backend/tests/services/test_transit_data_search_cache.py
Due: test-quality

feat(heatmap): add live mode toggle with auto-refresh indicator
  frontend/src/components/heatmap/HeatmapControls.tsx
  frontend/src/pages/HeatmapPage.tsx
  frontend/src/tests/unit/HeatmapControls.test.tsx
Due: frontend-prettier, eslint, typescript-check, test-quality

feat(heatmap): add live time range preset and cache TTL config
  backend/app/core/config.py
  backend/app/models/heatmap.py
Due: none

feat(heatmap): implement live snapshot computation in harvester
  backend/app/services/gtfs_realtime_harvester.py
  backend/app/services/heatmap_cache.py
  backend/app/services/heatmap_service.py
Due: none

feat(heatmap): add live mode API endpoint
  backend/app/api/v1/endpoints/heatmap.py
  backend/docs/README.md
Due: none

test(heatmap): add tests for live mode functionality
  backend/tests/api/v1/test_heatmap.py
  backend/tests/services/test_gtfs_realtime_harvester.py
Due: test-quality

feat(heatmap): add live mode support to frontend types and hooks
  frontend/src/hooks/useHeatmap.ts
  frontend/src/types/heatmap.ts
Due: frontend-prettier, eslint, typescript-check

feat(heatmap): add live mode UI controls and update tests
  frontend/src/components/heatmap/HeatmapControls.tsx
  frontend/src/pages/HeatmapPage.tsx
  frontend/src/tests/unit/HeatmapControls.test.tsx
  frontend/src/tests/unit/pages/HeatmapPage.test.tsx
  frontend/src/tests/unit/useHeatmap.test.tsx
Due: frontend-prettier, eslint, typescript-check, test-quality

build: update package-lock.json to latest dependencies
  frontend/package-lock.json
Due: frontend-prettier

build: restore latest dependency updates after merge
  frontend/package-lock.json
Due: frontend-prettier

build: add pip-audit pre-commit hook for dependency security
  .pre-commit-config.yaml
  backend/requirements.txt
Due: none

docs: update LICENSE copyright year and author
  LICENSE
Due: none

build: remove unused mvg dependency from runtime requirements
  backend/requirements.runtime.txt
Due: none

fix: compute heatmap summary from network-level aggregates
  backend/app/api/v1/endpoints/heatmap.py
  backend/app/api/v1/endpoints/ingestion.py
  backend/app/services/gtfs_realtime_harvester.py
  backend/app/services/heatmap_service.py
  backend/tests/services/test_heatmap_service.py
Due: test-quality

build(frontend): update react-router to 7.12.0 to fix security vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier

fix: ensure downloaded_at is timezone-aware in GTFS feed age check
  backend/app/jobs/gtfs_scheduler.py
Due: none

docs: add synthesized station/heatmap issues research document
  docs/station-issues.md
Due: none

docs: add historical view/heatmap fix analysis
  docs/historical-view-fix.md
Due: none

feat(heatmap): implement spatially stratified sampling
  backend/app/services/heatmap_service.py
Due: none

test(heatmap): add tests for spatial stratification
  backend/tests/services/test_heatmap_service.py
Due: test-quality

feat(heatmap): add coverage station layer for healthy stations
  frontend/src/components/heatmap/MapLibreHeatmap.tsx
Due: frontend-prettier, eslint, typescript-check

docs(heatmap): document spatial stratification feature
  backend/docs/README.md
Due: none

fix: prevent GTFS-RT harvester deadlock during feed imports
  backend/app/jobs/gtfs_scheduler.py
  backend/app/main.py
  backend/app/services/gtfs_import_lock.py
  backend/app/services/gtfs_realtime.py
  backend/app/services/gtfs_realtime_harvester.py
Due: none

Path conditions:
  frontend-prettier: any of: ^frontend/
  eslint: any of: ^frontend/.*\.(ts|tsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  test-quality: any of: (backend/tests|frontend/src)/.*\.(py|test\.tsx?)$
