Repository rburketaylor/BahnVision: changes, and which pre-commit hooks are due for each by the changed paths.
All: pip-audit, frontend-prettier, eslint, typescript-check, test-quality, backend-tests, frontend-tests

pip-audit:
  name: pip-audit (Python dependency vulnerabilities)
  entry: bash -c 'source backend/.venv/bin/activate && pip-audit --ignore-vuln CVE-2026-0994'
  language: system
  pass_filenames: false

frontend-prettier:
  name: frontend prettier
  entry: bash -c 'cd frontend && npx prettier --check .'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: typescript type-check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

test-quality:
  name: test quality check
  entry: python scripts/check_test_quality.py
  language: system
  args:
  - backend/tests
  - frontend/src
  pass_filenames: false

backend-tests:
  name: backend tests (pytest + coverage)
  entry: bash -c 'source backend/.venv/bin/activate && pytest backend/tests -q --tb=short -x --cov=app --cov-fail-under=70'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

frontend-tests:
  name: frontend tests (vitest)
  entry: bash -c 'cd frontend && npm run test -- --run'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(gtfs): add live import progress tracking
  backend/app/api/v1/endpoints/ingestion.py
  backend/app/jobs/gtfs_scheduler.py
  backend/app/models/ingestion.py
  backend/app/services/gtfs_feed.py
  backend/app/services/gtfs_import_progress.py
  backend/docs/gtfs-rt-monitoring.md
  backend/scripts/import_gtfs.py
  backend/tests/api/v1/test_ingestion.py
  backend/tests/services/test_gtfs_feed_importer.py
  backend/tests/services/test_gtfs_import_progress.py
Due: test-quality, backend-tests

feat(monitoring): show GTFS import progress in Ingestion tab
  frontend/src/components/features/monitoring/IngestionTab.tsx
  frontend/src/tests/unit/pages/MonitoringPage.test.tsx
  frontend/src/types/ingestion.ts
  frontend/tests/e2e/pages/monitoring.spec.ts
Due: frontend-prettier, eslint, typescript-check, test-quality, frontend-tests

feat(gtfs): add streaming stop_times import mode
  backend/app/core/config.py
  backend/app/services/gtfs_feed.py
  backend/tests/services/test_gtfs_feed_importer.py
Due: test-quality, backend-tests

docs(gtfs): document streaming import mode env var
  backend/docs/README.md
Due: none

docs: add rule to bundle code and tests in atomic commits
  .claude/skills/atomic-commits/SKILL.md
Due: none

fix: resolve Semgrep security findings and migration test failures
  .github/workflows/ci.yml
  backend/alembic/versions/add_heatmap_indexes.py
  backend/alembic/versions/convert_gtfs_stop_times_to_seconds.py
  backend/alembic/versions/remove_realtime_station_stats_stop_fk_cascade.py
  backend/app/services/gtfs_realtime_harvester.py
  backend/scripts/reset_database.py
Due: backend-tests

fix: update postgres volume mount for 18+ compatibility
  docker-compose.yml
Due: none

fix(security): remediate dependencies and harden scans and infrastructure
  .env.example
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/test-migrations.yml
  .pre-commit-config.yaml
  backend/app/api/v1/endpoints/health.py
  backend/requirements.runtime.txt
  backend/tests/api/v1/test_health.py
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  scripts/run-daily-aggregation.sh
Due: pip-audit, frontend-prettier, test-quality, backend-tests

fix(security): remediate dependencies and harden scans and infrastructure (#268)
  .env.example
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/test-migrations.yml
  .pre-commit-config.yaml
  backend/app/api/v1/endpoints/health.py
  backend/requirements.runtime.txt
  backend/tests/api/v1/test_health.py
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  scripts/run-daily-aggregation.sh
Due: pip-audit, frontend-prettier, test-quality, backend-tests

chore: merge develop into main (#270)
  .env.example
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/test-migrations.yml
  .pre-commit-config.yaml
  backend/app/api/v1/endpoints/health.py
  backend/requirements.runtime.txt
  backend/requirements.txt
  backend/tests/api/v1/test_health.py
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  scripts/run-daily-aggregation.sh
Due: pip-audit, frontend-prettier, test-quality, backend-tests

fix(frontend): migrate heatmap to maplibre-gl v6 (ESM-only)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/features/heatmap/MapLibreHeatmap.tsx
  frontend/src/tests/unit/MapLibreHeatmap.test.tsx
Due: frontend-prettier, eslint, typescript-check, test-quality, frontend-tests

fix(frontend): security patch bumps to clear all dependabot alerts; report Test Migration check on all PRs
  .github/workflows/test-migrations.yml
  .secrets.baseline
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier

fix(frontend): migrate heatmap to maplibre-gl v6 (ESM-only) (#300)
  .github/workflows/test-migrations.yml
  .secrets.baseline
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/features/heatmap/MapLibreHeatmap.tsx
  frontend/src/tests/unit/MapLibreHeatmap.test.tsx
Due: frontend-prettier, eslint, typescript-check, test-quality, frontend-tests

ci: report required Semgrep OSS and codecov/patch contexts on Dependabot PRs
  .github/workflows/ci.yml
Due: none

ci: report required Semgrep OSS and codecov/patch contexts on Dependabot PRs (#319)
  .github/workflows/ci.yml
Due: none

Path conditions:
  pip-audit: any of: ^backend/(requirements.*\.txt|pyproject\.toml)$
  frontend-prettier: any of: ^frontend/
  eslint: any of: ^frontend/.*\.(ts|tsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  test-quality: any of: (backend/tests|frontend/src)/.*\.(py|test\.tsx?)$
  backend-tests: any of: ^backend/.*\.py$
  frontend-tests: any of: ^frontend/.*\.(ts|tsx)$
